* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    width: 80vw;
    margin: 0 auto;
}

/* variables */

:root {
    --secondary-color: #FFFFFF;
    --primary-color: #000000;
    --bg-footer: #222222;
    --share-screen-color: #4BC800;
    --bg-end-meeting: #4A4A4A;
    --color-end-meeting: #E92238;
}

/* debug */

.debug {
    border: 1px solid red;
}

/* flex */
.main-flex {
    display: flex;
    flex-flow: row wrap;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.flex-default {
    display: flex;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* main */

main {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    padding-top: 65px;
}

main img {
    width: 100%;
    display: block;
}

#speaker {
    color: var(--secondary-color);
    position: absolute;
    top: 10px;
    right: 0;
}

.bg-speaker {
    background-color: rgba(255, 255, 255, .3);
    margin-right: 10px;
}

#maximize {
    color: var(--secondary-color);
    position: absolute;
    top: 10px;
    right: 0;
    background-color: rgba(255, 255, 255, .3);
    width: 135px;
    height: 25px;
}


.position-relative {
    position: relative;
}

.card {
    width: calc(100% / 7);
    padding: 0 5px 20px 0;
}

.card-content {
    color: var(--secondary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    width: 105px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* footer */

footer {
    background: var(--bg-footer);
    color: var(--secondary-color);
}

footer i {
    font-size: 30px;
}

.padding-right {
    padding-right: 25px;
}

#share-screen {
    color: var(--share-screen-color)
}

#end-meeting {
    background-color: var(--bg-end-meeting);
    padding: 30px;
    color: var(--color-end-meeting) ;
}

.margin {
    margin: 15px 10px;
}